/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/

// Import normalize from vendor files
@import "../../vendor/foundation-sites/scss/vendor/normalize";

// Import mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from vendor files
@import "../../vendor/foundation-sites/scss/foundation";

// Import Motion-UI from vendor files
@import "../../vendor/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

// Import your custom styles
@import "main";

// Import your retina/HD sty;es
@import "2x";

// Import your print styles
@import "print";

h1, h2, h3, h4, h5 {
	letter-spacing: -.05rem;
}

// Site header styles
header.header {
	background-color: $dark-gray;
    
    .header-logo-img {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
	
	.header-button {
        @include breakpoint(medium) {
            margin-top: 2.5rem;
            float: right;
            width: auto;    
        }
        
        white-space: nowrap;
        margin-left: 1rem;
	}
    
	.row.column {
		padding-left: 0rem;
		padding-right: 0rem;
	}	
}

// Widget styles
.widget-title, .widgettitle { 
	
	font-weight: 700;
	
}

.sidebar {
	background-color: $light-gray;
	border-radius: $global-radius;
	
	.widget {
		margin-bottom: 1rem;
	}
}

// fix siteorigin page builder css issue - add padding to one-column rows
.siteorigin-panels {
   
    .panel-grid {
        margin-left: -15px;
        margin-right: -15px;
    
        .panel-grid-cell {
            padding: 15px;
        }
    }
}

// info panel styles
.contacts, .sports {
    background-color: $light-gray;
	border-radius: $global-radius;
    padding: 1rem 1rem 0rem;
    margin-bottom: 1rem;
    
    .row .column { 
        padding-bottom: 1rem;
    }
}

// Button styles
.ow-button-base a, .button {
    font-weight: $global-weight-bold;
}

// download links
.wpdm-link-tpl {
    margin-bottom: 1rem;
}

/*
.widget-title, .widgettitle, .contacts h4, .sports h4
 {
    &:after {
    content: '';
    display: block;
    width: 3rem;
    height: .2rem;
    background-color: $primary-color;
    margin-top: -.2rem;
}
}
*/


// Sponsor logos
.spnsr {
    padding: 1rem;
}

.basic_spnsr {
    display: inline;
    white-space: nowrap;
}

// sports archive page styles
.sport-panel{
    
    
    article {
        // min-height: 20rem;
        background-color: $light-gray;
	   border-radius: $global-radius;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    
}

.sport-panel.column:last-child:not(:first-child), .sport-panel.columns:last-child:not(:first-child) {
        float: left;
    }
  
// previous page links and sibling/child page navigation links  
 .previous-page-link {
     font-weight: $global-weight-bold;
 }
 
 .sibling-menu ul {
    list-style: none;
    margin-left: initial;
    
    ul {
        margin-left: 1.25rem;
    }
}
 
 .article-header.has-background{
     min-height: 20rem;
     background-color: $dark-gray;
     color: #ffffff;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     padding: 1rem;
     display: block;
     
     h1 {
         height: 100%;
         width: 100%;
     }
 }